@if (TodoItem.IsEditing)
{
    <EditTodoForm TodoItem="TodoItem" EditTodoCallback="(s)=>EditTodoHandle(s)" />
}
else
{
    var completeClass = TodoItem.IsCompleted ? "completed" : "";
    <div class="todo @completeClass" @onclick="()=>ToggleCompleted(TodoItem.Id)">
        <div >@TodoItem.Content</div>
        <div>
            <span @onclick="()=>ToggleIsEditing(TodoItem.Id)" style="cursor:pointer">修改</span>
            <span @onclick="()=>DeleteTodo(TodoItem.Id)" style="cursor:pointer;margin-left:5px">刪除</span>
        </div>
    </div>
}

@code {
    [Parameter]
    public TodoModel TodoItem { get; set; }

    [Parameter]
    public EventCallback<Guid> DeleteTodoCallback { get; set; }

    void ToggleCompleted(Guid id)=> TodoItem.IsCompleted = !TodoItem.IsCompleted;

    void EditTodoHandle(TodoModel todo) { TodoItem.IsEditing = !TodoItem.IsEditing; }

    void ToggleIsEditing(Guid id) => TodoItem.IsEditing = !TodoItem.IsEditing;

    void DeleteTodo(Guid id) => DeleteTodoCallback.InvokeAsync(id);
}
